    #Floor1-2 {
        margin: 0 auto;
        width: 1024px;
    }
    
    #Floor1-1 {
        width: 100%;
        margin: 0 auto;
        z-index: 1;
        position: fixed;
        top: 0%;
    }
    
    #Floor2 {
        margin-left: 10%;
    }
    
    .Floor2-1-1 {
        float: left;
        font-size: 40px;
        font-weight: bold;
        width: 15%;
        cursor: default;
    }
    
    .Floor2-1-2 {
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        width: 30%;
    }
    
    .Floor2-1-3 {
        float: left;
        width: 30%;
    }
    
    .Floor2-1-4 {
        clear: both;
    }
    
    .Head {
        font-size: 20px;
        list-style: none;
        float: left;
        margin-left: 10%;
        cursor: pointer;
    }
    /*布局*/
    
    .el-row {
        margin-bottom: 20px;
    }
    
    .el-col {
        border-radius: 4px;
    }
    
    .bg-purple-dark {
        background: #f4f5f8;
    }
    
    .bg-purple {
        background: #e0e4e9;
    }
    
    .bg-purple-light {
        background: #e5e9f2;
    }
    
    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }
    
    .row-bg {
        padding: 10px 0;
        background-color: #f9fafc;
    }
    /*搜索栏*/
    
    .input-with-select {
        background-color: #fff;
    }
    /*下拉菜单*/
    
    .el-dropdown-link {
        cursor: pointer;
        color: black;
    }
    
    .el-icon-arrow-down {
        font-size: 20px;
    }